<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
	<title>Exchange Tool</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
	<div id="app" :key="exg">
		<div id="exchange">

			<h3> Exhange Calculator:</h3>
			<div>
				<input type="text" v-model="inputAmount" id="currency1">
				<select id="currencySelect1" v-model="selectedFromCurrency" @change="calculateValueFromNewBase">
					<option v-for="(value, currency) in allCurrencies">{{ currency }}</option>
				</select>
				<br>
				
				<input type="text" v-model="outputAmount" id="currency2">
				<select id="currencySelect2" v-model="selectedToCurrency" @change="calculateValue">
					<option v-for="(value, currency) in allCurrencies">{{ currency }}</option>
				</select>
				<br>

				<input type="button" v-on:click="swapCurrency" value="Swap">
			</div>



			<h3> CURRENCY: {{ exg }}</h3>
			<div>
				<ul>
					<li v-for="(value, currency) in allCurrencies">
						<a href="#" v-on:click="changeCurrency">{{ currency }}</a>
						{{ value }}
					</li>
				</ul>
			</div>

		</div>
	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>

</html>